* {
  font-family: "Nunito";
  outline: "none!important";
}

html,
body {
  width: 100%;
  height: calc(90% + 6px);
  margin: 0;
  /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  height: 100%;
}

@media (max-width: 450px) {
  html,
  body {
    height: calc(100% - 5px);
  }
}
